apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: etudiant04-ns
  labels:
    app: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: api
        image: ghcr.io/papemomath/logiciel-tp4:latest
        ports:
        - containerPort: 8080
          protocol: TCP

        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: DB_PASSWORD

        - name: DB_USERNAME
          value: "root"

        - name: DB_NAME
          value: "tododb"

        - name: DB_HOST
          value: "mariadb-service"

        volumeMounts:
        - name: data-storage
          mountPath: /data

        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"

      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: app-pvc