apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: logiciel-tp4

spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: api
        image: ghcr.io/papemomath/logiciel-tp4:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: MYSQL_ROOT_PASSWORD

        - name: DB_USERNAME
          value: "root"

        - name: DB_HOST
          value: "mariadb-service"

        - name: DB_PORT
          value: "3306"

        - name: DB_NAME
          value: "todo_db"

        volumeMounts:
        - name: data-storage
          mountPath: /data
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: app-pvc