apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
  namespace: tp4
  labels:
    app: todo-app
spec:
  type: ClusterIP
  selector:
    app: todo-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
    name: http